:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #131a26;
  --dark-alt: #202b3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding-top: 10px;
}

.App {
  padding: 32px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.element {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 16px;
  flex-direction: column;
}
.box {
  cursor: pointer;
}
.box:hover {
  opacity: 0.7;
}
